@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
